@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Tektur:wght@400..900&display=swap');

:root {
    --main-color: #FFF;
    --contrast-sec: hsl(5, 70%, 60%);
    --contrast-main: hsl(180, 60%, 70%);
    --sec-color: #161616;
    /* --grey: #4B5358; */
    --grey: #356066;

    --offset: max(14px, 1vw);
}

::-webkit-scrollbar {
    display: none;
}

body,
html {
    background-color: var(--main-color);
    overflow-x: hidden;
    position: relative;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Jost", sans-serif;
    font-weight: 500;
}

.title {
    font-family: "Tektur", sans-serif;
    font-weight: 800;
}

.text-black {
    color: var(--sec-color);
}

.text-peach {
    color: var(--contrast-sec);
}

.text-white {
    color: var(--main-color);
}

.text-tifanny {
    color: var(--contrast-main);
}

.text-grey {
    color: var(--grey)
}


.firstscreen {
    transition: 0.6s ease-in;
    width: calc(100vw - 3 * var(--offset));
    flex-direction: column;
    margin: calc(var(--offset) * 1.5);
    position: relative;
    height: calc(100vh - 3 * var(--offset));
    border-radius: calc(var(--offset) * 2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: var(--offset) dashed var(--sec-color);
    border-width: 0;
    box-sizing: border-box;
    padding: 0 0 3vh 0;
    overflow: hidden;
    max-height: 60vw;
}

.firstscreen__logo-text:not(.text-black) {
    opacity: 0;
}

.firstscreen__logo {
    position: relative;
}

.firstscreen__logo-text {
    position: absolute;
    top: 0;
    left: 0;
    font-size: calc(var(--offset) * 14);
}

.hidden {
    position: relative;
    opacity: 0;
}

.firstscreen__logo {
    perspective: 1000px;
}

/* Чем раньше в DOM – тем больше z-index и движение быстрее */
.firstscreen__logo-text:nth-child(1) {
    z-index: 4;
}

.firstscreen__logo-text:nth-child(2) {
    z-index: 3;
}

.firstscreen__logo-text:nth-child(3) {
    z-index: 2;
}

.firstscreen__logo-text:nth-child(4) {
    z-index: 1;
}

/* Чтобы отслеживать transform без конфликтов */
.firstscreen__logo-text {
    will-change: transform;
    transition: transform 0.1s ease-out;
}

/* Контейнер, скрывающий всё, что выходит за границы */
.marquee {
    overflow: hidden;
    white-space: nowrap;
    width: 110%;
    font-size: calc(var(--offset) * 3);
    color: var(--main-color);
    padding: calc(var(--offset) * .5) 0;
    background-color: var(--sec-color);
    position: absolute;
    z-index: 100;
    transform: rotateZ(4deg) !important;
    top: 7vh;
    left: -5%
}

/* Трек с текстом (2 одинаковых спана) */
.marquee__track {
    display: inline-flex;
    /* Оптимизация: заранее показываем браузеру, что будем анимировать */
    will-change: transform;
    /* Длительность и линейная скорость */
    animation: marquee 60s linear infinite;
}

/* Отступ между повторениями, если нужен */
.marquee__item {
    padding-right: 2rem;
}

/* Анимация: сдвиг от 0 до –50% (половина трека) */
@keyframes marquee {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}

.firstscreen__text {
    margin-top: 1vh;
    width: 89%;
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding: 0 0 0 calc(var(--offset) * 2);
}

.firstscreen__side {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 15px;
    z-index: 2;
    transform: skewX(-10deg);
    padding: calc(1 * var(--offset)) calc(3 * var(--offset));
    transition: .6s ease;
}

.side__anim {
    -webkit-box-shadow: calc(var(--offset) * -.45) calc(var(--offset) * -.45) 0px 0px rgba(255, 255, 255, 1);
    -moz-box-shadow: calc(var(--offset) * -.45) calc(var(--offset) * -.45) 0px 0px rgba(255, 255, 255, 1);
    box-shadow: calc(var(--offset) * -.45) calc(var(--offset) * -.45) 0px 0px rgba(255, 255, 255, 1);
}

.firstscreen__side:hover {
    transform: skewX(0deg) !important;
}

.firstscreen__title {
    font-size: calc(var(--offset) * 1.4);
    line-height: calc(var(--offset) * 2);
    text-align: justify;
    color: var(--main-color)
}

.firstscreen__subtitle {
    text-align: justify;
    font-size: calc(var(--offset) * 1);
    line-height: calc(var(--offset) * 1.8);
    color: var(--main-color)
}

.firstscreen__link {
    background-color: var(--sec-color);
    color: var(--main-color);
    transform: skewX(-10deg);
    font-size: calc(var(--offset) * 2);
    padding: 20px 30px;
    text-decoration: none;
    transition: .6s ease;
    border: 6px dashed var(--sec-color);
}

.link__anim {
    -webkit-box-shadow: calc(var(--offset) * -.3) calc(var(--offset) * -.3) 0px 0px rgba(255, 255, 255, 1);
    -moz-box-shadow: calc(var(--offset) * -.3) calc(var(--offset) * -.3) 0px 0px rgba(255, 255, 255, 1);
    box-shadow: calc(var(--offset) * -.3) calc(var(--offset) * -.3) 0px 0px rgba(255, 255, 255, 1);
}

.firstscreen__link:hover {
    transform: skewX(0deg) !important;
    color: var(--sec-color);
    background-color: var(--main-color);

}

.bg {
    width: 200%;
    height: 200%;
    background: url("./../img/bg.svg");
    z-index: 0;
    background-size: 2%;
    background-position: center center;
    position: absolute;
    top: -50%;
    left: -50%;
    opacity: 0;
}









/* ------------------------------------------ */
/* ---------------Protocols------------------ */
/* ------------------------------------------ */
.protocols__title {
    font-family: "Tektur", sans-serif;
    font-weight: 800;
}










































@media screen and (max-width: 1360px) {
    .firstscreen__logo-text {
        font-size: calc(var(--offset) * 10.8);
    }

    .firstscreen__title {
        font-size: calc(var(--offset) * 1.4);
        line-height: calc(var(--offset) * 2.1);
    }

    .firstscreen__subtitle {
        font-size: calc(var(--offset) * 1.1);
        line-height: calc(var(--offset) * 1.9);
    }

}

@media screen and (max-width: 1100px) {
    .firstscreen__logo-text {
        font-size: calc(var(--offset) * 7.8);
        margin: calc(var(--offset) * -.2) 0 0 calc(var(--offset) * .2);
    }



    .marquee {
        font-size: calc(var(--offset) * 3);
    }

    .firstscreen__title {
        font-size: calc(var(--offset) * 1.5);
        line-height: calc(var(--offset) * 2.2);
    }

    .firstscreen__subtitle {
        font-size: calc(var(--offset) * 1.1);
        line-height: calc(var(--offset) * 1.9);
    }

    .firstscreen__link {
        font-size: calc(var(--offset) * 1.4);
        padding: 10px 20px;
    }

    .firstscreen__side {
        padding: calc(0.7 * var(--offset)) calc(2.1 * var(--offset));
        width: 70%;
    }

}

@media screen and (max-width: 800px) {
    .firstscreen {
        max-height: unset;
    }

    .firstscreen__logo-text {
        font-size: calc(var(--offset) * 6.8);
        margin: calc(var(--offset) * -.2) 0 0 calc(var(--offset) * .2);
    }


}

.mobile-only {
    display: none;
}

@media screen and (max-width: 700px) {
    .mobile-only {
        display: block;
    }

    .firstscreen__logo-text {
        text-align: center;
        font-size: calc(var(--offset) * 8.8);
        margin: calc(var(--offset) * -.2) 0 0 calc(var(--offset) * .2);
    }


    .firstscreen__text {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        padding: 0 0 0 calc(var(--offset) * 1);
    }

    .marquee {
        font-size: calc(var(--offset) * 2);
    }

    .firstscreen__side {
        width: 90%;
    }

    .firstscreen__text {
        padding-left: 0;
    }

    .firstscreen__link {
        width: 80%;
        justify-content: center;
        align-items: center;
        text-align: center;
        border-color: var(--contrast-main);
    }
}

@media screen and (max-width: 540px) {
    .firstscreen__logo-text {
        font-size: calc(var(--offset) * 6.8);
    }


    .marquee {
        font-size: calc(var(--offset) * 2);
    }

    .firstscreen__title {
        font-size: calc(var(--offset) * 1.1);
    }

    .firstscreen__subtitle {
        font-size: calc(var(--offset) * 0.9);
    }

    .firstscreen__link {
        padding: 10px 20px;
        font-size: calc(var(--offset) * 1);
    }
}

@media screen and (max-width: 420px) {
    .firstscreen {
        margin: calc(var(--offset) * 0.7);
        width: calc(100vw - 1.4 * var(--offset));
        height: calc(100vh - 1.4 * var(--offset));
    }

    .firstscreen__logo-text {
        font-size: calc(var(--offset) * 4.8);
    }

}